body {
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fcfafa;
  font-family: Asap;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Capriola", serif;
  text-align: center;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

p {
  font-family: "Asap", sans-serif;
  margin: auto;
  padding: 100px;
  font-size: 28px;
  line-height: 150%;
}

footer {
  font-family: "Asap", sans-serif;
  text-align: center;
  padding: 100px;
}

/* DESKTOP LAYOUT */

#int-container {
  position: relative;
  height: 100vh;
}

#intro-bubble {
  background-color: #d0786d;
  border-radius: 50%;
  width: 1100px;
  height: 1100px;
  top: -550px;
  left: -550px;
  position: absolute;
  z-index: 0;
}

#title {
  z-index: 999;
  color: white;
  text-align: left;
  width: 25%;
  position: relative;
  padding: 50px;
}
#intro-text {
  text-align: right;
  padding: 0px 50px 50px 50px;
  width: 55%;
  bottom: 25px;
  right: 100px;
  position: absolute;
}

.section-title {
  padding-top: 400px;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

#to-top {
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #d0786d;
  font-size: 20px;
  padding: 0px 30px 15px 0px;
}

#selected-year {
  font-size: 20px;
  font-family: Asap;
  padding: 15px;
}

/*table styling section*/

td {
  padding: 5px 10px 5px 10px;
  text-align: right;
}

#fiscal-years {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

#fisc-container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  position: sticky;
  height: 1000px;
  top: 0;
}

#fisc1,
#fisc2,
#fisc3 {
  position: sticky;
  height: 1000px;
}

#involved,
#fiveyrHBC,
#tenmil,
#sani-cal {
  position: sticky;
  top: 0;
  padding-top: 20px;
  height: 500px;
}
#involvement,
#tenmil-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
#fiveyr-cont,
#tenmil-vizzes {
  display: grid;
  grid-template-columns: 70% 30%;
}
#toptens {
  display: grid;
  grid-template-columns: 60% 40%;
}

.budget-review-overall {
  display: grid;
  justify-items: center;
}
.budget-review {
  /* list-style-type: "\2728"; */
  list-style-type: "\1F4B0";
  font-size: 28px;
  font-family: Asap;
  margin: auto;
  list-style-position: outside;
  width: 60%;
}

.budget-overview {
  list-style-type: "\1F34E";
  /* list-style-type: "\1F4B0"; */
  font-size: 28px;
  font-family: Asap;
  margin-left: 125px;
  list-style-position: outside;
  line-height: 300%;
}

li {
  padding-left: 30px;
  line-height: 170%;
}

.highlighted {
  background-color: #eec994;
  padding: 5px;
  font-weight: 600;
}

.viz {
  display: grid;
  justify-items: center;
}

.instructions {
  font-size: 18px;
  padding: 30px;
  text-align: center;
  width: 1000px;
}

/* implementing the sticky scroll */

#budget-totality {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin: 0;
  right: 100px;
  padding-top: 50px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  justify-items: center;
  grid-column-start: 2;
  height: 500px;
}

#scrolly {
  display: grid;
  margin: 3rem auto;
  padding: 1rem;
  position: relative;
  grid-template-columns: 50% 50%;
}
article#part-one {
  position: relative;
}

figure p {
  position: absolute;
}

/* placeholder section for dropdown styling */

select {
  background-color: #9ece96;
  padding: 10px;
  border: none;
  font-size: 18px;
  font-family: Asap;
  margin: 25px;
}

/* sticky scroll ends */

#comparison-treemaps {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 85%;
}

#tm-compare-1,
#tm-compare-2 {
  margin-top: 40px;
}

/*map area*/
#map-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
}

/*range slider */
#range {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#range:hover {
  opacity: 1;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("../assets/appleslider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#range::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url("../assets/appleslider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#entityid {
  padding-top: 0px;
}
#toptreecontainer,
#jitter-container {
  position: relative;
}

#summs,
#tmc1-details,
#tmc2-details,
#jitter-tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #eec994;
  border-radius: 5px;
  color: #5c3c22;
  padding: 20px;
  width: 300px;
  line-height: 150%;
  z-index: 99999;
}

#tmc-1-select,
#tmc-2-select {
  width: 50%;
  place-items: center;
}

/*fade-in*/
.prefade {
  visibility: hidden;
}

.fadein {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* the below is for debugging purposes */

/* div {
  border: 2px solid red;
} */

/* MOBILE LAYOUT */

@media screen and (max-aspect-ratio: 4/5) {
}
